@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<style>
    body {
        margin: 20px;
        text-align: center;
    }
</style>
<header>
    <h1 style="color=white!important;">Adoption Information</h1>
</header>

<section>
    <h2>Why Adopt?</h2>
    <p>
        Adopting a pet is a rewarding experience that not only brings joy to your life but also provides a loving home to an animal in need.
        Whether you're looking for a furry friend or a companion, adoption is a wonderful option.
    </p>
</section>

<section class="contact-section">
    <h2>Contact Us for Adoption</h2>
    <p>
        If you have any questions or would like to apply for adoption, please feel free to contact us using the email below. Or call us using the number below.
    </p>

    <p class="email"><strong>Email:</strong> <a href="adopt@animalrescueleague.com">adopt@animalrescueleauge.com</a></p>
    <p class="phone"><strong>Phone Number</strong> (515) 355-3091</p>
</section>

<section>
    <h2>Visit Our Store</h2>
    <p>
        You can also visit our store in person to learn more about the adoption process.
        Our staff will be happy to assist you and introduce you to the wonderful animals waiting for their forever homes.
    </p>
    <p>
        The Animal Rescue League - Des Moines<br>
        1300 Ivy Road <br>
        Des Moines, Iowa 50032
    </p>
</section>